<div class="wt-page-404-section">
    <div class="wt-text-wrap">
        <p class="wt-title">{{ page404_title }}</p>
        <p class="wt-text">{{ page404_text }}</p>
        <div class="wt-link-wrap"><a class="wt-link" href="{{ home_url }}{{ session.language == baselocale ? '' :  session.language~'/' }}">{{ page404_back_to_home }}</a> <span>{{ page404_or }}</span> <a class="wt-link" href="{{ home_url }}{{ session.language == baselocale ? '' :  session.language~'/' }}contact">{{ page404_contact_us }}</a></div>
    </div>
</div>