<section class="wt-about-company-short">
    <div class="wt-info-flex-container">
        <div class="wt-text-map-heading">
            <p class="wt-border-title">{{short_information_title_1}}</p>
            <p class="wt-title">{{short_information_title_2 | raw}}</p>
        </div>
        <img class="wt-image-wrap" srcset="{{ image_short_information_mobile.path }} 768w" src="{{ image_short_information.path }}" alt="{{ image_short_information.alt }}" loading="lazy">
        <!-- /libs/img/wood-1-mobile.jpg  /libs/img/wood-1.png -->
        <div class="wt-direct">
            <div>
                <p class="wt-name">{{directors_title}}</p>
                <p class="wt-text">{{directors_content}}</p>
            </div>
        </div>
        <div class="wt-info">
            <ul>
                <li><a href="">{{about_company}}</a></li>
                <li><a href="">{{certificates}}</a></li>
                <li><a href="">{{for_customers}}</a></li>
                <li><a href="">{{for_dillers}}</a></li>
            </ul>
        </div>
        <div class="wt-gray-back">
        </div>
        <div class="wt-green-back">            
        </div>  
    </div>
</section>