<section class="wt-additional-info">
    <div class="wt-container-text">
        <h5>{{ additional_info_title_1 }}</h5>
        <p>{{ additional_info_title_2 }}</p>
    </div>
    <div class="wt-main-container-info">
        <div class="wt-container-ul">
            <div class="wt-block-ul">
                <ul>
                    <li>
                        <div class="wt-block-li">
                            <h6>{{ additional_info_type }}</h6>
                            <p>{{ additional_info_type_text }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wt-block-li"> 
                            <h6>{{ additional_info_year }}</h6>
                            <p>{{ additional_info_year_text }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wt-block-li wt-product"> 
                            <h6>{{ additional_info_form }}</h6>
                            <p>{{ additional_info_form_text }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wt-block-li wt-product"> 
                            <h6>{{ additional_info_market }}</h6>
                            <p>{{ additional_info_market_text }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wt-block-li"> 
                            <h6>{{ additional_info_country }}</h6>
                            <p>{{ additional_info_country_text }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wt-block-li"> 
                            <h6>{{ additional_info_region }}</h6>
                            <p>{{ additional_info_region_text }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="wt-block-li"> 
                            <h6>{{ additional_info_city }}</h6>
                            <p>{{ additional_info_city_text }}</p>
                        </div>    
                    </li>
                </ul>
            </div>
        </div>

        <div class="wt-container-certificate">
            <div class="certificate">
                <h6>{{ additional_info_certificates }}</h6>
                <img src="{{ image_certificate_slider_1_mini.path }}" alt="{{ image_certificate_slider_1_mini.alt }}" loading="lazy">
                <img src="{{ image_certificate_slider_2_mini.path }}" alt="{{ image_certificate_slider_2_mini.alt }}" loading="lazy">
            </div>
        </div>
    </div>
    <div class="block-green"></div>
    <div class="block-gray"></div>
</section>