{# блок з двома картинками #}
<section class="wt-description wt-description-two-pictures">
    <div class="company">
        <div class="left-info">
            <div class="wt-image-container"><img class="wt-image-container-img" src="{{ image_desctiption_sosna_img.path }}" alt="{{ image_desctiption_sosna_img.alt }}" loading="lazy"></div>
            
            <div class="container-text-info">
            <h3>{{ desctiption_sosna_specialization_title }}</h3>
            {{ desctiption_sosna_ul_li|raw }}
            </div>
        </div>
        <div class="right-info">
            <div class="right-text">
            <h4>{{ desctiption_sosna_short_about }}</h4>
            <p>{{ desctiption_sosna_title }}</p>
            </div> 
            <img src="{{ image_desctiption_sosna_img_2.path }}" alt="{{ image_desctiption_sosna_img_2.alt }}" loading="lazy">
            <div class="right-p">

            <p>
                <span>{{ desctiption_sosna_text_title_1 }}</span><br>
                {{ desctiption_sosna_text1_p1 }}
            </p>
            <p>
                {{ desctiption_sosna_text1_p2 }}
            </p>

            </div>
        </div>
    </div> 
    <div class="green-block"></div>
</section>