<section class="wt-description">
    <div class="company">
        <div class="left-info">
            <div class="wt-image-container"><img class="wt-image-container-img" src="{{ image_desctiption_drobilka_img.path }}" alt="{{ image_desctiption_drobilka_img.alt }}" loading="lazy"></div>
            
            <div class="container-text-info">
            <h3>{{ desctiption_drobilka_specialization_title }}</h3>
            {{ desctiption_drobilka_ul_li|raw }}
            </div>
        </div>
        <div class="right-info">
            <div class="right-text">
            <h4>{{ desctiption_drobilka_short_about }}</h4>
            <p>{{ desctiption_drobilka_title }}</p>
            </div> 
            <img src="{{ image_desctiption_drobilka_img_modile.path }}" alt="{{ image_desctiption_drobilka_img_modile.alt }}" loading="lazy">
            <div class="right-p">

            <p>
                <span>{{ desctiption_drobilka_text_title_1 }}</span><br>
                {{ desctiption_drobilka_text1_p1 }}
            </p>
            <p>
                {{ desctiption_drobilka_text1_p2 }}
            </p>
            <p>
                <span>{{ desctiption_drobilka_text_title_2 }}</span><br>
                {{ desctiption_drobilka_text2_p1 }}
            </p>
            <p>
                {{ desctiption_drobilka_text2_p2 }}
            </p>

            </div>
        </div>
    </div> 
    <div class="green-block"></div>
</section>