<section class="block-info-rtl">
    <div class="company">
        <div class="left-info">
            <div class="image-container" style="background-image: url('{{ description_rtl_img1 }}');"> </div>
            <div class="container-text-info">
            <h3>{{ desctiption_suhka_specialization_title }}</h3>
            {{ desctiption_suhka_ul_li|raw }}
            </div>
        </div>
        <div class="right-info">
            <div class="right-text">
            <h4>{{ desctiption_suhka_short_about }}</h4>
            <p>{{ desctiption_suhka_title }}</p>
            </div> 
            <img src="/libs/img/info-320.jpg" alt="Доска">
            <div class="right-p">

            <p>
                <span>{{ desctiption_suhka_text_title_1 }}</span><br>
                {{ desctiption_suhka_text1_p1 }}
            </p>
            <p>
                {{ desctiption_suhka_text1_p2 }}
            </p>
            <p>
                <span>{{ desctiption_suhka_text_title_2 }}</span><br>
                {{ desctiption_suhka_text2_p1 }}
            </p>
            <p>
                {{ desctiption_suhka_text2_p2 }}
            </p>

            </div>
        </div>
    </div> 
    <div class="green-block"></div>
</section>