
<div class="wt-slider-container-production">
    <div class="wt-green-background-slider">

    </div>
    <div id="slider">
        <div class="dp-wrap">
            <div id="dp-slider">
        
                <div class="dp_item" data-class="1" data-position="1">
                    
                    <div class="dp-img">
                        <picture>
                            <source srcset="{{ image_main_slider_slide_1_img_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_1_img.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_1_img_tablet_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_1_img_tablet.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_1_img_mobile_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_1_img_mobile.path }}" type='image/png'>

                            <img src="{{ image_main_slider_slide_1_img_mobile_webp.path }}" class="img-fluid" alt="{{ image_main_slider_slide_1_img_mobile_webp.alt }}" loading="lazy">
                        </picture>
                    </div>

                    <div class="dp-content">
                
                        <p class="white-text animated animatedFadeInUp fadeInUp"><span class="wt-production-name">{{ main_slider_slide_1_name }}</span> <span class="wt-production-description">{{ main_slider_slide_1_for }}</span> <br><a href="{{ main_slider_slide_1_link }}" class="wt-production-button">{{ main_slider_more_info }}</a></p>
                        
                    </div>
                    
                </div>
            
                <div class="dp_item" data-class="2" data-position="2">
                    
                    <div class="dp-img">
                        <picture>
                            <source srcset="{{ image_main_slider_slide_2_img_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_2_img.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_2_img_tablet_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_2_img_tablet.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_2_img_mobile_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_2_img_mobile.path }}" type='image/png'>

                            <img src="{{ image_main_slider_slide_2_img_mobile_webp.path }}" class="img-fluid" alt="{{ image_main_slider_slide_2_img_mobile_webp.alt }}" loading="lazy">
                        </picture>
                    </div>

                    <div class="dp-content">
                
                        <p class="white-text animated animatedFadeInUp fadeInUp"><span class="wt-production-name">{{ main_slider_slide_2_name }}</span> <span class="wt-production-description">{{ main_slider_slide_2_for }}</span> <br><a href="{{ main_slider_slide_2_link }}" class="wt-production-button">{{ main_slider_more_info }}</a></p>
                    
                    </div>
                </div>
            
                <div class="dp_item" data-class="3" data-position="3">
                    
                    <div class="dp-img">
                        <picture>
                            <source srcset="{{ image_main_slider_slide_3_img_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_3_img.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_3_img_tablet_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_3_img_tablet.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_3_img_mobile_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_3_img_mobile.path }}" type='image/png'>

                            <img src="{{ image_main_slider_slide_3_img_mobile_webp.path }}" class="img-fluid" alt="{{ image_main_slider_slide_3_img_mobile_webp.alt }}" loading="lazy">
                        </picture>
                    </div>

                    <div class="dp-content">
            
                    
                        <p class="white-text animated animatedFadeInUp fadeInUp"><span class="wt-production-name">{{ main_slider_slide_3_name }}</span> <span class="wt-production-description">{{ main_slider_slide_3_for }}</span> <br><a href="{{ main_slider_slide_3_link }}" class="wt-production-button">{{ main_slider_more_info }}</a></p>
                    </div>
                </div>
            
                <div class="dp_item" data-class="4" data-position="4">
                    
                    <div class="dp-img">
                        <picture>
                            <source srcset="{{ image_main_slider_slide_4_img_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_4_img.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_4_img_tablet_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_4_img_tablet.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_4_img_mobile_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_4_img_mobile.path }}" type='image/png'>

                            <img src="{{ image_main_slider_slide_4_img_mobile_webp.path }}" class="img-fluid" alt="{{ image_main_slider_slide_4_img_mobile_webp.alt }}" loading="lazy">
                        </picture>
                    </div>

                    <div class="dp-content">
                        <p class="white-text animated animatedFadeInUp fadeInUp"><span class="wt-production-name">{{ main_slider_slide_4_name }}</span> <span class="wt-production-description">{{ main_slider_slide_4_for }}</span> <br><a href="{{ main_slider_slide_4_link }}" class="wt-production-button">{{ main_slider_more_info }}</a></p>
                    </div>

                </div>

                <div class="dp_item" data-class="5" data-position="5">
                    
                    <div class="dp-img">
                        <picture>
                            <source srcset="{{ image_main_slider_slide_5_img_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_5_img.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_5_img_tablet_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_5_img_tablet.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_5_img_mobile_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_5_img_mobile.path }}" type='image/png'>

                            <img src="{{ image_main_slider_slide_5_img_mobile_webp.path }}" class="img-fluid" alt="{{ image_main_slider_slide_5_img_mobile_webp.alt }}" loading="lazy">
                        </picture>
                    </div>

                    <div class="dp-content">
                        <p class="white-text animated animatedFadeInUp fadeInUp"><span class="wt-production-name">{{ main_slider_slide_5_name }}</span> <span class="wt-production-description">{{ main_slider_slide_5_for }}</span> <br><a href="{{ main_slider_slide_5_link }}" class="wt-production-button">{{ main_slider_more_info }}</a></p>
                    </div>

                </div>

                <div class="dp_item" data-class="6" data-position="6">
                    
                    <div class="dp-img">
                        <picture>
                            <source srcset="{{ image_main_slider_slide_6_img_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_6_img.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_6_img_tablet_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_6_img_tablet.path }}" type='image/png'>

                            <source srcset="{{ image_main_slider_slide_6_img_mobile_webp.path }}" type='image/webp'>
                            <source  srcset="{{ image_main_slider_slide_6_img_mobile.path }}" type='image/png'>

                            <img src="{{ image_main_slider_slide_6_img_mobile_webp.path }}" class="img-fluid" alt="{{ image_main_slider_slide_6_img_mobile_webp.alt }}" loading="lazy">
                        </picture>
                    </div>

                    <div class="dp-content">
                        <p class="white-text animated animatedFadeInUp fadeInUp"><span class="wt-production-name">{{ main_slider_slide_6_name }}</span> <span class="wt-production-description">{{ main_slider_slide_6_for }}</span> <br><a href="{{ main_slider_slide_6_link }}" class="wt-production-button">{{ main_slider_more_info }}</a></p>
                    </div>

                </div>

            </div>
        
            <span id="dp-next">
                <img src="/libs/img/up-arrow-svgrepo-com.svg" alt="ar">
            </span>
        
            <span id="dp-prev">
                <img src="/libs/img/up-arrow-svgrepo-com.svg" alt="ar">
            </span>
        
            <div class="dp-title">
                
                <h2><span class="wt-slider-title1">{{ main_slider_title_1 }}</span> <span class="wt-slider-title2">{{ main_slider_title_2 }}</span></h2> 
            </div>
        
        
            <ul id="dp-dots">
            <li data-class="1" class="active">01</li>
            <li data-class="2">02</li>
            <li data-class="3">03</li>
            <li data-class="4">04</li>
            <li data-class="5">05</li>
            <li data-class="6">06</li>
            </ul>


        </div>
    </div>
</div>