<section class="wt-price-on-services">
    <div class="wt-container">
       <div class="wt-price-serv-text">
           <p><span class="wt-price-span-1">{{ price_secvices_title_1 }}</span><br><span class="wt-price-span-2">{{ price_secvices_title_2 }}</span></p>
       </div>
       <div class="wt-price-serv-block container-services">

            <div class="wt-block-price">
                <div class="wt-element-text">
                    <p class="wt-price-p1"><span>{{ price_secvices_goods1_title }}</span></p>
                    <p class="wt-price-p2">{{ price_secvices_goods1_price }}</p>
                </div>
            </div>

            <div class="wt-block-price container-services-2">
                <div class="wt-element-text">
                    <p class="wt-price-p1"><span>{{ price_secvices_goods2_title }}</span></p>
                    <p class="wt-price-p2">{{ price_secvices_goods2_price }}</p>
                </div>
            </div>

            <div class="wt-block-price container-services-3">
                <div class="wt-element-text">
                    <p class="wt-price-p1"><span>{{ price_secvices_goods3_title }}</span></p>
                    <p class="wt-price-p2">{{ price_secvices_goods3_price }}</p>
                </div>
            </div>

       </div>
    </div>
</section>