<section class="wt-woodtrade-info">
    <div class="wt-grid">
        <div class="wt-title">
            <h2 class="wt-border-text">{{ wood_trade_info_main_title }}</h2>
            <h3 class="wt-text">{{ wood_trade_info_about_company }}</h3>
        </div>
        <div class="wt-info">
            <h6>{{ wood_trade_info_head_text }}</h6>
            <p>{{ wood_trade_info_spec }}</p>
            <ul>
                <li>{{ wood_trade_info_li_1 }}</li>
                <li>{{ wood_trade_info_li_2 }}</li>
                <li>{{ wood_trade_info_li_3 }}</li>
            </ul>
            <p>{{ wood_trade_info_p_1 }}</p>
            <p>{{ wood_trade_info_p_2 }}</p>
            <p>{{ wood_trade_info_p_3 }}</p>
            <p>{{ wood_trade_info_p_4 }}</p>
            <span>{{ wood_trade_info_director }}</span>
        </div>
        <div class="wt-video">

        </div>
        <div class="wt-name">
            <p>{{ wood_trade_info_company_name }}</p>
        </div>
        <div class="wt-background-green"></div>
    </div>
    <div class="wt-background-green"></div>
    <div class="wt-background-gray"></div>
</section>