{{ include('@static/header.twig') }}

{{ include('@sections/breadcrumbs.twig')}}
<div class="wt-container">
    <main>
        <h1 class="wt-title-product-catalog" >{{ product_catalog_title|upper|raw }}</h1>
        <div class="wt-side-menu-grid">

            {{ include('@sections/mobile-filters.twig') }}

            {{ include('@static/side-menu.twig') }}

            {{ include('@sections/product-catalog.twig') }}

        </div>
    </main>
</div>

{{ include('@static/footer-contact.twig') }}

{{ include('@static/footer.twig') }}