{{ include('@static/header.twig') }}
{{ include('@sections/breadcrumbs.twig') }}
<div class="wt-page-industries">

    {{ include('@sections/woodtrade-info.twig') }}

    {# {{ include('@sections/consultation-form-button.twig') }} #}

    {{ include('@sections/description-rtl.twig') }}

    {{ include('@sections/description.twig') }}

    {{ include('@sections/slider-services-prodcap.twig') }}

    {{ include('@sections/description-sosna.twig') }}

    {{ include('@sections/description-rtl-briquettes.twig') }}
    
    {{ include('@sections/description-drobilka.twig') }}

</div>

{{ include('@static/footer-contact.twig') }}

{{ include('@static/footer.twig') }}